*{
  box-sizing:border-box;
  font-family: system-ui, sans-serif;
}

body{
  margin:0;
  background:#000;
  color:#fff;
}

#app{
  height:100vh;
  display:flex;
  flex-direction:column;
}

#mainView{
  flex:1;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  text-align:center;
}

#time{
  margin-bottom:20px;
}

#days{
  font-size:64px;
  font-weight:700;
}

#clock{
  font-size:32px;
  opacity:0.8;
}

#eventName{
  font-size:22px;
  margin-top:10px;
}

#eventDate{
  opacity:0.6;
  margin-bottom:20px;
}

button{
  background:#fff;
  color:#000;
  border:none;
  padding:12px 20px;
  font-size:16px;
}

.hidden{
  display:none;
}

#editView{
  padding:20px;
  text-align:center;
}

#editView input{
  width:90%;
  padding:12px;
  font-size:16px;
  margin-bottom:10px;
}

#adBanner{
  height:50px;
  background:#111;
  display:flex;
  align-items:center;
  justify-content:center;
  color:#777;
  font-size:14px;
}
#legal{
  padding:20px;
  max-width:600px;
  margin:auto;
  font-size:14px;
  color:#ccc;
  text-align:center;
}
#legal a{
  color:#4fa3ff;
}